.err-tooltip {
  display: block;
  position: absolute;
  margin-top: -25px;
  margin-left: 10px;
  padding: 6px 10px;
  border: 1px solid #C7C6C6;
  border-radius: 3px;
  background-color: white;
  z-index: 999;
  font-size: 13px;
  left: 90px;
  font-weight: normal;
}

.err-tooltip:before {
  content: '!';
  font-weight: 800;
  padding: 2px 7px;
  margin-right: 10px;
  background-color: #A02D20;
  color: white;
  border-radius: 3px;
}
.err-tooltip:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  left: 5px;
  border-bottom: 5px solid #C7C6C6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
label .err-tooltip {
  top: 100%;
  margin-left: 0;
}
#preloader-ajax {
  height: 200px;
  width: 100%;
}
#preloader-ajax-center {
  width: 100%;
  height: 100%;
  position: relative;
}
#preloader-ajax-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-animation: preloader-ajax-center-absolute 1s infinite;
          animation: preloader-ajax-center-absolute 1s infinite;
}
.object{
  width: 20px;
  height: 20px;
  background-color: #A93C27;
  float: left;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  margin-right: 20px;
  margin-bottom: 20px;  
}
.object:nth-child(2n+0) {
  margin-right: 0px;
}
#object_one{
  -webkit-animation: object_one 1s infinite;
  animation: object_one 1s infinite;
  }
#object_two{
  -webkit-animation: object_two 1s infinite;
  animation: object_two 1s infinite;
  } 
#object_three{
  -webkit-animation: object_three 1s infinite;
  animation: object_three 1s infinite;
  }   
#object_four{
  -webkit-animation: object_four 1s infinite;
  animation: object_four 1s infinite;
  }   
@-webkit-keyframes preloader-ajax-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
  }     
}   
@keyframes preloader-ajax-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
  }
} 
@-webkit-keyframes object_one{
50% {
    -ms-transform: translate(20px,20px); 
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
  }
}   
@keyframes object_one{
50% {
     -ms-transform: translate(20px,20px); 
    -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
  }
}
@-webkit-keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
  }
}   
@keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
    -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
  }
}
@-webkit-keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
  }
}   
@keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
    -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
  }
}
@-webkit-keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
  }
}   
@keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
    -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
  }
}
.success-message {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
  font-weight: 600;
  color: #297937;
}