@media (min-width: 0px) and (max-width: 543px) {
	.row_header, .firsr_slider_slide .container, .infoblock_4, .wrap_1_form, .catalog, .reviews, .infoblock_5, .infoblock_6, .row_questions {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.firsr_slider_slide_timer {
		margin-bottom: 0;
	}

	.header_logo, .header_phone, .header_button, .infoblock_1, .infoblock_4_item, .catalog h2, .catalog_item {
		margin-bottom: 30px;
	}

	.infoblock_1 {
		margin-top: 30px;
	}

	.wave_girl {
		display: none;
	}

	.header_mail {
		margin-bottom: 0;
	}

	.header_mail {
		justify-content: space-evenly;
	}

	.header_phone, .header_button, .header_mail {
		height: auto;
	}

	.header_logo p, .firsr_slider_slide_h2_h3 h2, .firsr_slider_slide_h2_h3 h3, .reviews_slide_r_side_description h3, .reviews_slide_r_side_review h3, .reviews_slide_r_side_review p, .reviews_slide_r_side_review span, .questions h2, .questions_item h4 a {
		text-align: center;
	}

	.header_nav ul li {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.countdown__timer {
		width: 60px;
	}

	.countdown__timer span {
		font-size: 33px;
	}

	.countdown__label {
		font-size: 10px;
	}

	.wrap_1_form h2 {
		font-size: 40px;
		text-align: center;
		background-color: transparent;
	}

	.wrap_1_form .form-group input:first-child {
		margin-right: auto;
	}

	.wrap_1_form .form-group input {
		margin-top: 30px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.wrap_1_form .form-group p {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 11px;
		margin-bottom: 30px;
	}

	.wrap_1_form .form-group input[type="checkbox"] + label {
		margin-left: 20px;
	}

	.wrap_1_form .form-group button {
		display: block;
		margin: auto;
		margin-top: 0px;
		width: 90%;
	}

	.catalog h2, .catalog_item {
		margin-bottom: 30px;
	}

	.reviews h2 {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.reviews_slide_l_side_choice img {
		width: 25%;
	}

	.reviews_slide_r_side_review button {
		width: 90%;
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}

	.reviews_slide_r_side_description_l p, .reviews_slide_r_side_description_r p {
		font-size: 14px;
	}

	.review_arrows {
		margin-top: 30px;
	}

	.row_infoblock_5 img {
		height: 100%;
		width: auto;
	}

	.infoblock_5 h2 {
		font-size: 25px;
	}

	.infoblock_5_number a {
		font-size: 30px;
	}

	.infoblock_5_mobile {
		width: 70px;
		height: 90px;
	}

	.infoblock_5_mobile img {
		height: 80%;
	}

	.row_questions img {
		display: none;
	}

	.questions_item_text p {
		text-align: center;
		padding-left: 0;
	}

	.row_form_2 img {
		height: 100%;
		width: auto;
	}

	.form_2 .form-group input[type="checkbox"] + label {
		text-align: left;
		margin-left: 15px;
	}

	.contacts {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contacts_production, .contacts_sells {
		border-left: none;
		text-align: center;
	}

	.contacts_production, .contacts_sells {
		margin-bottom: 30px;
	}

	.contacts_production h3, .contacts_sells h3 {
		text-align: center;
		margin-bottom: 10px;
	}

	.contacts_production p, .contacts_sells p {
		text-align: center;
	}

	.contacts_numeil, .contacts_socials {
		justify-content: center;
	}

	.row_map {
		display: none;
	}

	.footer_nav ul li:first-child {
		padding-left: 15px;
	}

	.footer_nav ul li {
		display: block;
	}

	.footer_nav ul li:last-child {
		padding-right: 15px;
	}

	.footer_nav ul {
		display: block;
		border-bottom: none;
	}

	.footer_nav {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer_logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.footer_number, .footer_button {
		height: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.wrap_1_form h2 {
		text-align: center;
		display: block;
	}

	.logo_factori {
		margin-top: 30px;
	}

	.modal-dialog input, .modal-dialog p , .modal-dialog .form-group button {
		width: 100%;
	}

	.dropdown_menu ul {
		position: relative;
	}

	.dropdown_menu:hover > .dropdown {
	display: block;
	}

	.dropdown_menu ul {
		width: auto;
		margin-top: 10px;
	}

	.dropdown_menu ul li {
		text-align: center;
	}

	.header_nav ul li {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.header_nav ul li:last-child {
		padding-bottom: 5px;
	}
}

@media (min-width: 0px) and (max-width: 767px)
{
	.video_item{
		width: 100%;
   		text-align: center;
	}
	.item_sub_photo a{
		width: 100%;
	}
	.item_sub_photo a:nth-child(3n+1){
		text-align: center;
	}
	.header_mail{
		align-items: center;
	}
	.header_mail a{
		border-bottom: none;
	}
	.slick-track a{
		width: auto !important;
	}
	.slick-track a img{
		width: auto;
	}
	.slick track{
	    height: 85px;
	}
	.item_nav li{
		width: 100% !important;
	}
	.item_nav{
		display: block;
		width: 100%;
        margin-top: 240px;
	    height: auto;
	}
	.item_price{
		display: none;
	}
	.catalog_item h3{
		text-align: center;
	}
	.charschars p{
		text-align: center;
	}
	.catalog_item_cost p{
		text-align: center;
	}
	.see_also p{
		padding-left: 60px;
		font-size: 25px;
	}
	.catalog_item_cost{
		margin-bottom: 25px
	}
}
@media (min-width: 544px) and (max-width: 767px) {
	.row_header, .firsr_slider_slide .container, .infoblock_4, .wrap_1_form, .catalog, .reviews, .infoblock_5, .infoblock_6, .row_questions {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.firsr_slider_slide_timer {
		margin-bottom: 0;
	}

	.header_logo, .header_phone, .header_button, .infoblock_1, .infoblock_4_item, .catalog h2, .catalog_item {
		margin-bottom: 30px;
	}

	.infoblock_1 {
		margin-top: 30px;
	}

	.wave_girl {
		display: none;
	}

	.header_mail {
		margin-bottom: 0;
	}

	.header_mail {
		justify-content: space-evenly;
	}

	.header_phone, .header_button, .header_mail {
		height: auto;
	}

	.header_logo p, .firsr_slider_slide_h2_h3 h2, .firsr_slider_slide_h2_h3 h3, .reviews_slide_r_side_description h3, .reviews_slide_r_side_review h3, .reviews_slide_r_side_review p, .reviews_slide_r_side_review span, .questions h2, .questions_item h4 a {
		text-align: center;
	}

	.header_nav ul li {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.countdown__timer {
		width: 60px;
	}

	.countdown__timer span {
		font-size: 33px;
	}

	.countdown__label {
		font-size: 10px;
	}

	.wrap_1_form h2 {
		font-size: 40px;
		text-align: center;
		background-color: transparent;
	}

	.wrap_1_form .form-group input:first-child {
		margin-right: auto;
	}

	.wrap_1_form .form-group input {
		margin-top: 30px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.wrap_1_form .form-group p {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 11px;
		margin-bottom: 30px;
	}

	.wrap_1_form .form-group input[type="checkbox"] + label {
		margin-left: 20px;
	}

	.wrap_1_form .form-group button {
		display: block;
		margin: auto;
		margin-top: 0px;
		width: 400px;
	}

	.catalog h2, .catalog_item {
		margin-bottom: 30px;
	}

	.reviews h2 {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.reviews_slide_l_side_choice img {
		width: 25%;
	}

	.reviews_slide_r_side_review button {
		width: 400px;
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}

	.reviews_slide_r_side_description_l p, .reviews_slide_r_side_description_r p {
		font-size: 14px;
	}

	.review_arrows {
		margin-top: 30px;
	}

	.row_infoblock_5 img {
		height: 100%;
		width: auto;
	}

	.infoblock_5 h2 {
		font-size: 25px;
	}

	.infoblock_5_number a {
		font-size: 30px;
	}

	.infoblock_5_mobile {
		width: 70px;
		height: 90px;
	}

	.infoblock_5_mobile img {
		height: 80%;
	}

	.row_questions img {
		display: none;
	}

	.questions_item_text p {
		text-align: center;
		padding-left: 0;
	}

	.row_form_2 img {
		height: 100%;
		width: auto;
	}

	.form_2 .form-group input[type="checkbox"] + label {
		text-align: left;
		margin-left: 15px;
	}

	.contacts {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contacts_production, .contacts_sells {
		border-left: none;
		text-align: center;
	}

	.contacts_production, .contacts_sells {
		margin-bottom: 30px;
	}

	.contacts_production h3, .contacts_sells h3 {
		text-align: center;
		margin-bottom: 10px;
	}

	.contacts_production p, .contacts_sells p {
		text-align: center;
	}

	.contacts_numeil, .contacts_socials {
		justify-content: center;
	}

	.row_map {
		display: none;
	}

	.footer_nav ul li:first-child {
		padding-left: 15px;
	}

	.footer_nav ul li {
		display: block;
	}

	.footer_nav ul li:last-child {
		padding-right: 15px;
	}

	.footer_nav ul {
		display: block;
		border-bottom: none;
	}

	.footer_nav {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer_logo {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.footer_number, .footer_button {
		height: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.catalog_item img {
		display: block;
		margin: auto;
	}

	.wrap_1_form h2 {
		text-align: center;
		display: block;
	}

	.form_2 .form-group input, .form_2 .form-group button, .footer_button button, .footer_search input {
		width: 400px;
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}

	.footer_mail {
		height: auto;
		justify-content: center;
	}

	.footer_mail a {
		margin-bottom: 30px;
	}

	.footer_confidence {
		text-align: center;
	}

	.form_2 {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.dropdown_menu ul {
		position: relative;
	}

	.dropdown_menu:hover > .dropdown {
	display: block;
	}

	.dropdown_menu ul {
		width: auto;
		margin-top: 10px;
	}

	.dropdown_menu ul li {
		text-align: center;
	}

	.header_nav ul li {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.header_nav ul li:last-child {
		padding-bottom: 5px;
	}

	.dropdown_menu ul li:last-child {
		padding-bottom: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.slick-track a{
		width: auto !important;
	}
	.slick-track a img{
		width: auto;
	}
	.slick track{
	    height: 85px;
	}
	#photo p{
		text-align: center;
	}
	.video_date{
		margin:auto;
		margin-top: 5px;
	}
	.video_header{
		text-align: center;
	}
	.video_item{
		width: 100%;
   		text-align: center;
	}
	.item_sub_photo a{
		width: 100%;
	}
	.item_sub_photo a:nth-child(3n+1){
		text-align: center;
	}

	.item_price{
		display: none;
	}
	.catalog_item h3{
		text-align: center;
	}
	.charschars p{
		text-align: center;
	}
	.catalog_item_cost p{
		text-align: center;		
	}
	.catalog_item_cost{
		margin-top: 35px;
	}
	.header_logo p {
		font-size: 17px;
	}

	.header_phone a {
		font-size: 18px;
	}

	.header_button button {
		font-size: 14px;
	}

	.header_mail a {
		font-size: 12px;
	}

	.header_search img {
		width: 18px;
	}

	.header_nav ul li {
		font-size: 13px;
	}

	.firsr_slider_slide .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.wave_girl {
		display: none;
	}

	.wrap_1_form h2 {
		display: block;
		text-align: center;
		background-color: transparent;
	}

	.wrap_1_form .form-group input, .wrap_1_form .form-group p, .wrap_1_form .form-group button {
		width: 320px;
	}

	.catalog_item img {
		display: block;
		margin: auto;
	}

	.catalog_item h3 {
		text-align: center;
	}

	.catalog_item p {
		text-align: center;
	}

	.reviews_slide_r_side_description h3 {
		text-align: center;
	}

	.reviews_slide_r_side_description_l p {
		text-align: right;
	}

	.reviews_slide_r_side_description_r p {
		text-align: center;
	}

	.reviews_slide_r_side_review h3 {
		text-align: center;
	}

	.reviews_slide_r_side_review span {
		text-align: center;
	}

	.reviews_slide_r_side_review button {
		display: block;
		margin: auto;
		margin-bottom: 30px;
	}

	.row_infoblock_5 img {
		width: auto;
		height: 100%;
	}

	.infoblock_5_mobile img {
		width: 40px;
	}

	.row_questions img {
		display: none;
	}

	.questions_item_text p {
		padding-left: 0;
	}

	.row_form_2 img {
		width: auto;
		height: 100%;
	}

	.form_2 .form-group button {
		font-size: 12px;
	}

	.form_2 .form-group input[type="checkbox"] + label {
		text-align: left;
		margin-left: 15px;
	}

	.contacts_production p, .contacts_sells p {
		font-size: 10px;
	}

	.contacts_numeil .contacts_number {
		font-size: 20px;
	}

	.contacts_socials ul li {
		margin-bottom: 10px;
	}

	.footer_nav ul li a {
		font-size: 14px;
	}

	.footer_number a {
		font-size: 18px;
	}

	.footer_mail a {
		font-size: 15px;
	}

	.footer_socials {
		height: 70px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.slick-track a{
		width: auto !important;
	}
	.slick-track a img{
		width: auto;
	}
	.slick track{
	    height: 85px;
	}
	#photo p{
		text-align: center;
	}
	.video_date{
		margin:auto;
		margin-top: 5px;
	}
	.video_header{
		text-align: center;
	}
	.video_item{
		width: 100%;
   		text-align: center;
	}
	.item_sub_photo a{
		width: 100%;
	}
	.item_sub_photo a:nth-child(3n+1){
		text-align: center;
	}

	.item_price{
		display: none;
	}
	.catalog_item h3{
		text-align: center;
	}
	.charschars p{
		text-align: center;
	}
	.catalog_item_cost p{
		text-align: center;	
	    font-size: 20px !important;	
	}
	.catalog_item_cost{
		margin-top: 35px;
	}

	.catalog_item_cost p {
		font-size: 13px;
	}

	.row_infoblock_5 img {
		width: auto;
		height: 100%;
	}

	.row_questions img {
		width: auto;
		height: 100%;
		left: -24%;
	}

	.row_form_2 img {
		height: 100%;
	}

	.infoblock_5_mobile img {
		width: 40px;
	}

	.contacts_socials ul li, .footer_socials ul li {
		width: 24px;
		height: 24px;
		font-size: 15px;
	}

	.header_logo p {
		font-size: 25px;
	}
}

@media (min-width: 1500px) {
	.row_infoblock_5 img {
		width: 100%;
		height: auto;
	}

	.infoblock_5_mobile img {
		width: 40px;
	}
}

@media (min-width: 2100px) {
	.firsr_slider_slide img {
		height: 100%;
		width: 100%;
	}
}

@media (min-width: 1199px) {
	.catalog_item_cost{
		display: none;
	}
}