@font-face{	
	font-family: 'RobotoSlab';
	src: url('/static/fonts/RobotoSlab/robotoslab-regular.eot');
	src: url('/static/fonts/RobotoSlab/robotoslab-regular.eot?iefix') format('eot'),
	url('/static/fonts/RobotoSlab/robotoslab-regular.woff') format('woff'),
	url('/static/fonts/RobotoSlab/robotoslab-regular.ttf') format('truetype'),
	url('/static/fonts/RobotoSlab/robotoslab-regular.svg#webfont') format('svg');
	font-style: normal;
}

@font-face{	
	font-family: 'Roboto';
	src: url('/static/fonts/Roboto/roboto-regular.eot');
	src: url('/static/fonts/Roboto/roboto-regular.eot?iefix') format('eot'),
	url('/static/fonts/Roboto/roboto-regular.woff') format('woff'),
	url('/static/fonts/Roboto/roboto-regular.ttf') format('truetype'),
	url('/static/fonts/Roboto/roboto-regular.svg#webfont') format('svg');
	font-style: normal;
}

button:hover {
	filter: grayscale(50%);
	transition: .4s;
}

section {
	overflow: hidden;
}

h1, h2 {
	letter-spacing: 3px;
}

.nopadd {
	padding-left: 0!important;
	padding-right: 0!important;
}

.row_header, .row_header_nav {
	background-color: #1f0c00;
    background: linear-gradient(to left, #3d1901, #1f0c00);
}

.header_logo p {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 31px;
	font-weight: 700;
	line-height: 17px;
	text-transform: uppercase;
	margin-bottom: 20px;
}


.header_logo img {
	width: 70px;
	display: block;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 10px
}

.header_phone {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
}

.header_phone a {
	font-family: Roboto;
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-decoration: none;
}

.header_phone a:hover {
	color: #cde000 ;
	text-decoration: none;
}

.header_button {
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_button button {
	font-family: Roboto;
	border-radius: 3px;
	background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);
	width: 235px;
	height: 52px;
	border: none;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;	
}
.header_button span{
	color:  #210d00;
	font-size: 18px
}

.header_mail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 140px;
}

.search {
	position: relative;
}

.search img {
	margin-right: 20px;
}

.header_mail a {
	margin-bottom: 20px;
}

.header_search img {
	cursor: pointer;
}

.header_search input {
	width: auto;
	display: inline-block;
}

.header_mail a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 19px;
	font-weight: 300;
	line-height: 17px;
	border-bottom: 1px dotted white;
}

.header_mail a:hover {
	color: #cde000 ;
	border-bottom: 1px dotted #cde000;
	text-decoration: none;
}

.header_nav ul {
	padding: 0;
	margin: 0;
}

.header_nav ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.header_nav ul li a {
	font-family: Roboto;
	color: #ffffff;
	text-transform: uppercase;
    border-bottom: 6px solid #1f0c0000;
}

.header_nav ul li:hover > a {
	border-bottom: 6px solid #c9dd01;
}

.header_nav ul li a:hover {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.row_block_1 {
	overflow: hidden;
	position: relative;
}

.firsr_slider_slide .container {
	position: relative;
	z-index: 100;
	padding-top: 60px;
	padding-bottom: 60px;
}

.firsr_slider_slide img {
	height: 100%;
	position: absolute;
	z-index: 20;
}

.firsr_slider_slide_h2_h3 {
	font-family: RobotoSlab;
	color:  #ffffff;
	background: linear-gradient(0deg,  transparent 0%, #607400 100%);
	display: inline-block;
	margin-top: 40px;
}

.firsr_slider_slide_h2_h3 h2 {
	font-size: 39px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.firsr_slider_slide_h2_h3 h3 {
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	margin-top: 0;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.firsr_slider_slide_timer h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

.firsr_slider_slide_timer {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	margin-bottom: 60px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: .5s ease;
  background-color: #f0e8e0;
  z-index: 1100;
  padding-left: 15px;
  padding-right: 15px;
  overflow: scroll; 
  font-family: Roboto;
  color: black;
}
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(/static/img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
    opacity: 1 !important;
}

.overlay p {
    font-size: 17px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}
.overlay .dotted {
    list-style-type: circle;
}
.overlay ul {
    width: 100%;
    height: auto;
    font-size: 17px;
    font-weight: 300;
    padding-left: 40px;
}
.overlay h2 {
    letter-spacing: 0.7px;
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.firsr_slider_slide_timer button {
	font-family: Roboto;
	border-radius: 3px;
	background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);
	width: 140px;
	height: 44px;
	color:  #210d00;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.infoblock_1 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.infoblock_1 h1 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}

.infoblock_1 p {
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
}

.infoblock_1 img {
	display: block;
	margin: auto;
	width: 200px;
}

.row_infoblock_3 {
	background-color: #f0e8e0;
	padding-top: 60px;
	padding-bottom: 60px;
}

.row_infoblock_3 h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34.01px;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.infoblock_3_multiple_item {
	width: 250px;
	height: 150px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
} 

.infoblock_3_multiple_item img {
	width: 100%;
}

.infoblock_4 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.infoblock_4 h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
}

.infoblock_4_image {
	width: 120px;
	height: 120px;
	background-color: #EEE6DE;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:auto;
}

.infoblock_4_item h3 {
	font-family: Roboto;
	color:  #53463d;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.infoblock_4_1_wrap {
	margin-bottom: 40px;
}

.row_1_form {
	position: relative;
	overflow: hidden;
}

.row_1_form img {
	position: absolute;
	width: 100%;
	height: 100%;
}

.wrap_1_form {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 20;
}

.wrap_1_form h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 50px;
	font-weight: 700;
	text-align: left;
	display: inline-block;
	text-transform: uppercase;
	background-color: #322119;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 0;
	z-index: 20;
}

.wrap_1_form h2 sup {
	font-size: 20px;
	top: -1.5em;
}

.wrap_1_form .form-group input {
	border-radius: 3px;
	background-color:  #ffffff;
	width: 330px;
	height: 64px;
	border:none;
	padding-left: 15px;
	font-family: Roboto;
	color:  #53463e;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	margin-top: 40px;
}

.wrap_1_form .form-group input:first-child {
	margin-right: 30px;
}


.wrap_1_form .form-group input[type="checkbox"]{
    display: none;
}
.wrap_1_form .form-group input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 28px;
    margin-bottom: 0;
}

.wrap_1_form .form-group input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    background-color: white;
    border-radius: 3px;
}

.wrap_1_form .form-group input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 3px;
    background-color: white;
    background-image: url(/static/img/checkclick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.wrap_1_form .form-group p, .wrap_1_form .form-group p label , .wrap_1_form .form-group p label a {
    font-family: Roboto;
	color:  #ffffff;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
}

.wrap_1_form .form-group p label a {
	text-decoration: underline;
}

.wrap_1_form .form-group p label a:hover {
	color: #cde000;
}

.wrap_1_form .form-group p {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 0;
	width: 330px;
	margin-right: 35px;
	float: left;
}

.wrap_1_form .form-group button {
	border-radius: 3px;
	/*background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);*/
	background-color: #86ad0c;
	box-shadow: 0px 13px 35px 0px rgba(18, 17, 17, 0.75);
	width: 330px;
	height: 64px;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	border:none;
	text-transform: uppercase;
	margin-top: 20px;
}

.wrap_1_form .form-group button:hover {
	background-color: #cde000;
	filter: unset;
}

.wrap_1_form canvas {
	position: absolute;
	z-index: -1;
	right: 0;
	top: -30px;
	width: 690px;
	height: auto;
	border-radius:0px 100px 0px 100px;
}

.wrap_1_form img {
	position: absolute;
	z-index: -1;
	right: 0;
	top: -30px;
	width: 690px;
	height: auto;
}

.not_over {
	overflow: visible!important;
}

.catalog {
	padding-top: 60px;
	padding-bottom: 40px;
}

.catalog h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.catalog_item {
	margin-bottom: 0px;
	min-height: 660px;
}
.charschars{
	min-height: 111px !important;
	padding-left: 0px !important;
}
.catalog_item a{
	text-decoration: none !important;
	display: block;
}
.catalog_item img {
	width: 100%;
}

.catalog_item h3 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 20px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 15px;
}

.catalog_item p {
	margin-bottom: 16px;
	font-family: Roboto;
	color:  #53463d;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
}

.catalog_item_cost {
	display: block;
	width: 100%;
	background-color: rgba(240, 232, 224, 0.7);
	padding: 10px;
	margin-bottom: 15px;
}

.catalog_item_cost p {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
}

.catalog_item_cost p span {
	font-family: RobotoSlab;
	color:  #8e7f74;
	text-decoration: line-through;
}

.catalog button {
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	border-radius: 3px;
	border-style: solid;
	border-width: 3px;
	border-color:  #cde000;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: 135px;
	height: 64px;
	display: block;
	margin: auto;
	text-transform: uppercase;
}

.catalog button:hover {
	transition: 0.3s;
	color: white;
	background-color: #cde000;
	filter: unset;
}

.catalog_item button {
	border-radius: 3px;
	/*background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);*/
	background-color: #86ad0c;
	width: 140px;
	height: 44px;
	border: none;
	font-family: Roboto;
	color:  #210d00;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.section_reviews {
	background-color: #f0e8e0;
}

.reviews {
	padding-top: 60px;
	padding-bottom: 60px;
}
.reviews2 {
	padding-top: 20px;
	padding-bottom: 60px;
}

.reviews h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.reviews2 h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}


.reviews_slide {
	background-color: white;
}

.reviews_slide_l_side {
	position: relative;
	background-color: white;
	left: 5px;
}

.reviews_slide_l_side img {
	margin-top: 20px;
	width: 100%;
	position: relative;
	z-index: 10;
	margin-bottom: 40px;
}

.reviews_slide_l_side_choice {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 20;
	bottom: 20px;
	text-align: center;
}

.reviews_slide_l_side_choice img {
	border:3px solid white;
	width: 150px;
	margin: 0;
	display: inline-block!important;
}

.reviews_slide_l_side_choice img:hover {
	border:3px solid yellow;
}

.reviews_slide_r_side {
	background-color: white;
}

.reviews_slide_r_side_description h3 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.reviews_slide_r_side_description_l p {
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 10px;
}

.reviews_slide_r_side_description_r p {
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 700;
	text-align: left;
}

.reviews_slide_r_side_description {
	padding-bottom: 10px;
	border-bottom: 2px solid #f0e8e0;
}

.reviews_slide_r_side_review img {
	display: inline-block!important;
	margin-right: 10px;
}

.reviews_slide_r_side_review h3 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 22px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

.reviews_slide_r_side_review p {
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 20px;
}

.reviews_slide_r_side_review span {
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 700;
	text-align: left;
	display: block;
	margin-bottom: 20px;
}

.reviews_slide_r_side_review button {
	border-radius: 3px;
	/*background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);*/
	background-color: #86ad0c;
	width: 291px;
	height: 64px;
	border:none;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;

}

.reviews_slide_r_side_review button:hover {
	background-color: #cde000;
	filter: unset;
}

.item_tab_description button {
	border-radius: 3px;
	/*background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);*/
	background-color: #86ad0c;
	width: 291px;
	height: 64px;
	border:none;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 30px;
	
}
.but_rev{
	text-align: center;
}
.item_tab_description button:hover {
	background-color: #cde000;
	filter: unset;
}

.review_arrows {
	margin-top: 40px;
}

.review_slide_left, .review_slide_right {
	width: 55px;
	height: 55px;
	position: relative;
	background-color: #cfc6bc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review_slide_left {
	float: right;
	cursor: pointer;
}

.review_slide_right {
	float: left;
	cursor: pointer;
}

.infoblock_5 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section_infoblock_5 {
	position: relative;
}

.row_infoblock_5 img {
	position: absolute;
	height: 100%;
}

.infoblock_5 h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 37px;
	font-weight: 700;
	text-align: center;
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	position: relative;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 20px;
}

.infoblock_5_wrap {
	display: block;
	margin: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoblock_5_mobile {
	width: 100px;
	height: 120px;
	background-color: #a6b700;
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoblock_5_number {
	background-color: #c9dd01;
	padding: 10px;
}

.infoblock_5_number a {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 50px;
	font-weight: 700;
	border-bottom: 1px dashed black;
}

.infoblock_5_number a:hover {
	text-decoration: none;
}

.infoblock_5_mobile img {
	width: 40px;
}

.infoblock_6 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.infoblock_6 h2 {
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 60px;
}

.infoblock_6 img {
	width: 100%;
}

.row_questions {
	background-color: #310B00;
	padding-top: 60px;
	padding-bottom: 30px;
}

.row_questions img {
	position: absolute;
	width: 100%;
	left: 15%;
	top: 0;
}

.section_questions {
	position: relative;
}

.questions img {
	width: 70px;
	position: relative;
	left: 0;
	margin-right: 20px;
}

.questions h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 34px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 40px;
	display: flex;
}

.questions_item {
	margin-bottom: 30px;
}

.questions_item h4 {
	display: flex;
}

.questions_item h4 a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 19px;
	font-weight: 700;
}

.questions_item h4 a:hover, .questions_item h4 a:focus {
	text-decoration: none;
	outline: none;
}

.questions_item h4 img {
	position: relative;
	left: 0;
	margin-right: 10px;
	width: 20px;
	cursor: pointer;
}

.questions_item_text p {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	padding-left: 25px;
}

.questions_half_block {
	max-height: 700px;
	overflow: auto;
}

.questions_half_block::-webkit-scrollbar-track {
background-color: white;
}

.questions_half_block::-webkit-scrollbar-thumb {
	background-color:#C8DB00;
	border: 2px solid #C8DB00;
}

.questions_half_block::-webkit-scrollbar{
	width: 7px;
}

.form_2 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section_form_2 {
	position: relative;
}

.row_form_2 img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.form_2 {
	text-align: center;
}

.form_2 h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 49px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.form_2 h3 {
	font-family: Roboto;
	color:  #341300;
	font-size: 38px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 20px;
	display: inline-block;
	padding: 10px;
	background-color: rgba(201, 221, 1, 0.7);
}

.form_2 .form-group input {
	width: 100%;
	font-family: Roboto;
	color:  #53463e;
	font-size: 19px;
	font-weight: 400;
	text-align: left;
	padding-left: 15px;
	border-radius: 3px;
	border:none;
	background-color:  #ffffff;
	height: 64px;
	margin-bottom: 30px;
}

.form_2 .form-group button {
	border-radius: 3px;
	/*background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);*/
	background-color: #86ad0c;
	box-shadow: 0px 13px 35px 0px rgba(18, 17, 17, 0.75);
	width: 100%;
	height: 64px;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border:none;
	margin-bottom: 30px;
}

.form_2 .form-group button:hover {
	background-color: #cde000;
	filter: unset;
}


.form_2 .form-group p {
	font-family: Roboto;
	color:  #53463e;
	font-size: 13px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
}


.form_2 .form-group input[type="checkbox"]{
    display: none;
}
.form_2 .form-group input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 28px;
    margin-bottom: 0;
}

.form_2 .form-group input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    background-color: white;
    border-radius: 3px;
}

.form_2 .form-group input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 3px;
    background-color: white;
    background-image: url(/static/img/checkclick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.row_contacts {
	background-color: #341300;
}

.contacts {
	padding-top: 60px;
	padding-bottom: 60px;
}

.contacts h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 40px;
}

.contacts_production h3, .contacts_sells h3 {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 20px;
}

.contacts_production p, .contacts_sells p {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	margin-bottom: 0;
}

.contacts_production , .contacts_sells {
	border-left: 1px solid #c9dd01;
}

.contacts_numeil {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: 100px;
}

.contacts_numeil .contacts_number {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 23px;
	font-weight: 300;
	line-height: 17px;
	text-align: left;
}

.contacts_numeil .contacts_mail {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 17px;
	font-weight: 300;
	line-height: 17px;
	text-align: left;
	border-bottom: 1px dotted white;
}

.contacts_numeil .contacts_mail:hover {
	border-bottom: 1px dotted #c9dd01;
}

.contacts_numeil a:hover {
	text-decoration: none;
	color:#c9dd01;
}

.contacts_socials ul {
	display: inline-block;
	text-align: center;
	padding: 0;
}

.contacts_socials {
	display: flex;
	align-items: center;
	height: 100px;
}

.contacts_socials ul li {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 19px;
}

.contacts_socials ul li a {
	color: white;
	border-radius: 50%;
	border: 2px solid white;
	display: block;
	width: 100%;
	height: 100%;
}

.contacts_socials ul li a:hover {
	color: #c9dd01;
	border: 2px solid #c9dd01;
}

.row_map {
	height: 400px;
}

.row_map #map {
	width: 100%;
	height: 100%;
}

footer {
	background-color: #36312e;
}

.footer_nav {
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer_nav ul {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
}

.footer_nav ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer_nav ul li:first-child {
	padding-left: 0;
}

.footer_nav ul li:last-child {
	padding-right: 0;
}

.footer_nav ul li a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 6px solid #36312e;
}

.footer_nav ul li:hover a {
	border-bottom: 6px solid #c9dd01;
}

.footer_nav ul li a:hover {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.footer_logo img {
	display: block;
	width: 80px;
	margin-top: 20px;
	margin: auto;
}

.footer_logo h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 31px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
	text-transform: uppercase;
}

.footer_number, .footer_button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

.footer_mail {
	display: flex;
	align-items: center;
	height: 100px;
}

.footer_number a {
	font-family: Roboto;
	font-size: 25px;
	font-weight: 300;
	color: white;
	text-decoration: none;
}


.footer_number a:hover {
	color: #cde000 ;
	text-decoration: none;
}

.footer_button button {
	border-radius: 3px;
	background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);
	width: 100%;
	height: 52px;
	border:none;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
}

.footer_mail a {
	font-family: Roboto;
	color:  #ffffff;
	font-size: 19px;
	font-weight: 300;
	line-height: 17px;
	border-bottom: 1px dotted white;
}

.footer_mail a:hover {
	color: #cde000 ;
	border-bottom: 1px dotted #cde000;
	text-decoration: none;
}


.footer_confidence p {
	font-family: Roboto;
	color:  rgba(255, 255, 255, 0.7);
	font-size: 10px;
	font-weight: 400;
}

.footer_confidence p a {
	color: white;
	text-decoration: underline;
}

.footer_socials ul {
	display: inline-block;
	text-align: center;
	padding: 0;
}

.footer_socials {
	display: flex;
	align-items: center;
	height: 65px;
	justify-content: center;
}

.footer_socials ul li {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 19px;
}

.footer_socials ul li a {
	color: white;
	border-radius: 50%;
	border: 2px solid white;
	display: block;
	width: 100%;
	height: 100%;
}

.footer_socials ul li a:hover {
	color: #c9dd01;
	border: 2px solid #c9dd01;
}

.footer_search input {
	width: 100%;
	height: 50px;
	border:none;
	background-color: #443f3c;
	color:  rgba(255, 255, 255, 0.7);
	padding-left: 15px;
	font-size: 20px;
}

.logo_factori p {
	text-align: center;
	margin-bottom: 5px;
	font-family: Roboto;
	color:  rgba(255, 255, 255, 0.7);
	font-size: 10px;
	font-weight: 400;
}

.logo_factori img {
	width: 140px;
	display: block;
	margin: auto;
}

.footer_2 {
	padding-bottom: 20px;
}

.countdown {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.countdown__timer {
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  width: 75px;
  margin-left: 5px;
  margin-right: 5px;
	font-family: RobotoSlab;
	color:  #210d00;
	font-size: 36px;
	font-weight: 300;
}



.countdown__label {
	font-family: Roboto;
	color:  #fff;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}


  .countdown__item--large:before,.countdown__item--large:after  {
    content: '';
    display: block;
    height: 1px;
    background-image: linear-gradient(
      left,
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, 0));
}

.form_2_timer {
	position: relative;
	display: block;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.form_2_timer h2 {
	font-family: RobotoSlab;
	color:  #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 41px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: transparent;
}

.form_2_timer .action-over {
	padding-bottom: 40px;
}

.form_2_form {
	margin-top: 40px;
}

.arrow_up {
	display: none;
}

.modal-dialog {
	background-color: #E5DBD1;
	width: 600px;
	padding: 25px;
}

.modal-dialog h4 {
	font-family: 'RobotoSlab';
	color: #3B1902;
	font-size: 45px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.modal-dialog input {
	display: block;
	width: 400px;
	height: 50px;
	margin: auto;
	margin-bottom: 30px;
	border: none;
	background-color: #ffffff;
	font-family: 'Roboto';
	font-size: 20px;
	padding-left: 15px;
	color: #807B7A;
}

.modal-dialog .form-group input[type="checkbox"]{
    display: none;
}
.modal-dialog .form-group input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 28px;
    margin-bottom: 0;
}

.modal-dialog .form-group input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    background-color: white;
    border-radius: 3px;
}

.modal-dialog .form-group input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 3px;
    background-color: white;
    background-image: url(/static/img/checkclick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.modal-dialog p {
	width: 400px;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

.modal-dialog .form-group button {
	border-radius: 3px;
	background: -webkit-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -moz-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -o-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: -ms-linear-gradient(90deg, #86ad0c 0%, #cde000 100%);
	background: linear-gradient(0deg, #86ad0c 0%, #cde000 100%);
	width: 400px;
	height: 50px;
	border:none;
	font-family: Roboto;
	color:  #210d00;
	font-size: 16px;
	font-weight: 700;
	display: block;
	margin: auto;
	text-transform: uppercase;
}

.modal-dialog span {
	font-size: 45px;
}

.doctor_father {
	position: relative;
}

.doctor_strange {
	position: absolute;
}

.arrow_up_foot {
	position: relative;
}

.arrow_up_footer_to_top {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color:  #ffffff;
	width: 36px;
	height: 36px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 20px;
	cursor: pointer;
}

.arrow_up_footer_to_top img {
	width: 15px;
}

.header_nav {
	position: relative;
}

.dropdown {
	display: none;
}

.dropdown_menu {
	position: relative;
	z-index: 200;
}

.dropdown_menu ul {
	position: absolute;
	z-index: 20;
	background-color: rgba(32,38,12,0.9);
	left: 0;
	top: 100%;
	width: 200%;
}

.dropdown_menu ul li {
	display: block;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown_menu ul li a {
	border: none;
}

.dropdown_menu ul li a:hover {
	border: none;
}

.header_section {
	overflow: unset;
}

.dropdown_menu ul li:hover > a {
	border: none;
	color: #c9dd01;
}

.dropdown_menu:hover > .dropdown {
	display: inline-block;
}
.breadcrumbs{
    padding-top: 25px;
    padding-bottom:25px;
    color:  #53463d;
	text-align: left;
	font-size: 13px;
	text-align: left;

}
.breadcrumbs a{
	font-weight: 700;
	text-decoration: underline;
	color:  #53463d;
}
.breadcrumbs a:hover{
	font-weight: 700;
	text-decoration: underline;
	color:  #adc905;
}
.breadcrumbs span{
	font-weight: 700;
	margin-left: 10px;
	margin-right: 10px;
}
.item_bigpicture{
	width: 100%;
	cursor: pointer;
}
.small_pictures{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	margin-bottom: 25px
}
.small_pictures img{
    height: 165px;
    border-radius: 1px;
    border: 3px solid #c6c8cc;
}
.small_pictures img:hover{
    border: 3px solid #adc905;
}
.slick-track a img{
    width: 101%;
}
.slick-track a{
    margin-right: 5px;
    margin-left: 5px;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
    color: #91b50a;
}
.slick-next:before{
	color: #90b40a !important;
	display: none;
}
.slick-prev:before{
	color: #90b40a !important;
	display: none;
}
.slick-dots li.slick-active button:before{
	color: #c5da01 !important;
}
.slick-list{
  	 margin-left: -4px !important;
}

}
.slider-portfolio .slide{
   margin: 0 15px 0 15px;
}
.item_description_header{
	font-family: RobotoSlab;
    color: #3c1901;
    font-size: 39px;
    font-weight: 700;
    text-align: left;
    transform: scaleY(1.001);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 15px;
}
.item_main_characteristics{
	margin-top: 25px;
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.item_main_characteristics p:first-child{
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-transform: uppercase;
	color: #3c1901;
}
.item_main_description{
	margin-top: 25px;
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.item_price_block{
	background-color:  rgba(240, 232, 224, 0.7);
	height: 75px;
}
.item_price_block::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-left: 30px solid rgba(240, 232, 224, 0.7);
    right: -50px;
    top: 15px;
}
.item_price_block p{
    font-family: RobotoSlab;
    color: #3c1901;
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}
.item_main_price{
	background-color:  rgba(240, 232, 224, 0.7);
	height: 75px;  
	padding-left: 0 !important; 
}
.item_main_name{
	background-color:  rgba(240, 232, 224, 0.7);
	height: 75px;
	margin-left: 30px;
}
.item_main_name p{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 18px;
	font-weight: 700;
	line-height: 29px;
	text-align: left;
}

.item_main_price p{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 18px;
	font-weight: 700;
	line-height: 29px;
	text-align: left;
}
.item_main_price .old_price{
	color:  #8e7f74;
	margin-right: 15px;
}	
.item_main_price .item_name{
	margin-right: 10px;
}
.rectangle{
    background-color: #ffc600;
    box-shadow: 5px 10px 24px 0px rgba(18, 17, 17, 0.45);
    width: 80px;
    height: 60px;
    position: absolute;
    right: 15px;
    top: 25px;
}
.circle {
    width: 100px;
    height: 60px;
    background: #ffc600;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    right: 50px;
    top: 25px;
}
.triangle{
    width: 0;
    height: 0;
    border-bottom: 60px solid #e9002c;
    border-left: 35px solid transparent;
    border-right: 45px solid #e9002c;
    position: relative;
    z-index: 2;
}
.trianglep{
    font-family: RobotoSlab;
    color: #ffffff;
    font-size: 20.01px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 27px;
    line-height: 65px;
    z-index: 3;
    position: absolute;
}
.circle p{
    font-family: RobotoSlab;
    color: #3c1901;
    font-size: 37px;
    font-weight: 700;
    text-align: left;
    transform: scaleY(1.001);
    display: inline-block;
    line-height: 60px;
    display: block;
    text-align: center;
    width: 135px;
}
.circle2 {
    width: 100px;
    height: 60px;
    background: #ffc600;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    right: 50px;
    top: 25px;
}
.circle2 p{
    font-family: RobotoSlab;
    color: #3c1901;
    font-size: 27px;
    font-weight: 700;
    text-align: left;
    transform: scaleY(1.001);
    display: inline-block;
    margin-left: 5px;
    line-height: 60px;
}
.circlenewp{
    font-family: RobotoSlab !important;
    color: #ffffff !important;
    font-size: 37px !important;
    font-weight: 700 !important;
    text-align: left !important
    transform: scaleY(1.001) !important;
    line-height: 60px !important;
}
.item_price{
	margin-top: 25px;
}
.item_nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-color: rgba(240, 232, 224, 0.7);
}
.item_nav li{
	 display: inline-block; 
}
.item_nav li a{
	font-family: Roboto;
	color:  #3c1901;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 29px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.nav-tabs>li.active>a{
	color:  #3c1901 !important;
	background-color: #ffe6c7!important;
	border: none !important; 
	border-bottom: 5px solid #c9dd01 !important;
	padding: 15px 25px !important;
}
.item_main_nav{
	margin-top: 45px;
}
.nav-tabs.nav-justified>li>a{
}
.nav-tabs{
    border:none !important;
}
.nav>li>a{
    padding: 17px 25px !important;
    border: none !important;  
}
.nav>li>a:hover{
	background-color: #ffe6c7!important;
}
.item_tab_description_header{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-top: 25px;
}
#home{
}
.item_tab_main_description{
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	margin-top: 25px;
}
.item_tab_description .technologies{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 20.01px;
	font-weight: 700;
	text-align: left;
	transform: scaleY(1.001);
	text-transform: uppercase;
	margin-top: 25px;
}
.technologies_ul{
	font-family: Roboto;
	color:  #53463d;
	font-size: 17px;
	font-weight: 400;
	line-height: 35px;
	text-align: left;
	
	padding: 20px !important;
}
.technologies_ul li{
	list-style-image: url('/static/img/icons/Rectangle.svg');
}
.see_also{
	margin-top: 25px;
	height: 75px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.see_also p{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 34px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	background-color:  #dbd0c2;
	display: inline-block;
	line-height: 75px;
}
.see_also .eye{
    background-color: rgba(244, 239, 233, 0.59);
    height: 75px;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    position: absolute;
    left: 0;
}
.padding_none{
	padding:0 !important;
	padding-left: 25px !important;
}
.see_also .background{
	background-color:  #dbd0c2;
	width: 100%;
	position: relative;
	text-align: center;
}
.new_rec{
    background-color: #e9002c;
    box-shadow: 5px 10px 24px 0px rgba(18, 17, 17, 0.45);
    width: 55px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 25px;
}
.new_cir {
    width: 50px;
    height: 40px;
    background: #e9002c;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    right: 50px;
    top: 25px;
}
.new_cir p{
    font-family: RobotoSlab;
    color: #ffffff;
    font-size: 20.01px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    line-height: 40px;
    display: block;
    width: 85px;
    text-align: center;
}
.sale_rec{
    background-color: #ffc600;
    box-shadow: 5px 10px 24px 0px rgba(18, 17, 17, 0.45);
    width: 55px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 25px;
}
.sale_cir {
    width: 50px;
    height: 40px;
    background: #ffc600;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    position: absolute;
    right: 50px;
    top: 25px;
}
.sale_cir p{
    font-family: RobotoSlab;
    color: #3c1901;
    font-size: 20.01px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    line-height: 40px;
    display: block;
    width: 85px;
    text-align: center;
}
.active{
	display: block !important;
}
.tab-pane{
	display: none;
}
.item_sub_photo{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.item_sub_photo img{
	width: 95%;
	height: 95%;
}
.item_sub_photo a{
	display: inline-block;
	width: 33%;
	text-align: center;
	margin-top: 35px;
}

.item_sub_photo a:nth-child(3n+1) {
	text-align: left;
}

.item_sub_photo a:nth-child(3n) {
	text-align: right;
}
#photo p{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin-top: 35px;
	text-transform: uppercase;
}
.item_video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_video iframe{
	margin-top: 25px;
}
.video_header{
	font-family: RobotoSlab;
	color:  #3c1901;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	margin-top: 35px;
	text-transform: uppercase;
}

#video button {
	font-family: Roboto;
	color:  #210d00;
	font-size: 15px;
	font-weight: 700;
	border-radius: 3px;
	border-style: solid;
	border-width: 3px;
	border-color:  #cde000;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: auto;
	height: 64px;
	display: block;
	margin: auto;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 25px;
}

#video button:hover {
	transition: 0.3s;
	color: white;
	background-color: #cde000;
	filter: unset;
}
.video_date{
    background-color: rgba(240, 232, 224, 0.7);
    width: 150px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
	text-align: center;
	line-height: 24px;
}
.video_date p{
	font-size: 12px;
    display: inline-block;
	color: #807065;

}
.rew_date{
    background-color: rgba(240, 232, 224, 0.7);
    width: 150px;
    height: 25px;
    margin-bottom: 25px;
	text-align: center;
	line-height: 24px;
}
.rew_date p{
	font-size: 12px;
    display: inline-block;
	color: #807065;

}
.video_item{
	width: 33%;
}
.video_title{
	display: inline-block;
    font-family: RobotoSlab;
    color: #3c1901;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}
body > footer > section:nth-child(1) > div > div > div > ul{
    margin-left: 15px;
}
.section_infoblock_5{
	background-image: url(/static/img/infoblock_5_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.modal-dialog textarea{
	display: block;
    width: 400px;
    height: 150px !important;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    background-color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    padding-left: 15px;
    color: #807B7A;
}
.catalogmain{
	margin-top: 40px;
}
.catalogmain .another{
    border-radius: 3px;
    background-color: #86ad0c;
    width: 210px;
    height: 44px;
    border: none;
    font-family: Roboto;
    color: #210d00;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 40px;
	line-height: 44px;
}
#catalog{
	text-align: center;
}
.catalogmain .another:hover{
	transition: 0.3s;
	color: white;
	background-color: #cde000;
	filter: unset;
}